{%extends 'user/home.html'%} {%block head%} {{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/general.css') }}" />
{%endblock%} {%block content%}
<div class="row contenedor">
  <div class="col-2"></div>

  <div class="col-md-10 col-sm-12 mt-3">
    <div class="container d-flex flex-column align-items-center">
      <div class="col-md-10 col-12 mb-3">
        <div class="tabla">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="col-6 text-center">Carrera</th>
                <th class="col-6 text-center">Operaciones</th>
              </tr>
            </thead>

            <tbody>
              {% for car in carposUsuario%}
              <tr>
                {% if car[2] == None %}
                <td class="col-6">{{car[1]}} {{car[3]}}</td>
                {% else %}
                <td class="col-6">{{car[1]}} {{car[2]}} {{car[3]}}</td>
                {% endif %}

                <td class="col-6 text-center">
                  <a href="{{ url_for('bedel.eliminar_carrera', carpoid = car[0]) }}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <form class="fondo" action="{{url_for('bedel.agregar_carrera')}}" method="post">
          <div class="container fondo">
            <div class="d-flex flex-column align-items-left py-3">
              <h5 class="mb-3 text-center">Anotarse a otra carrera</h5>
              <select class="form-select form-select-sm form-custom" name="Carpo" id="carposelect">
                <option disabled value="0">Seleccione una carrera</option>
                {% for car in carpo %} {% if car[2] == None%}
                <option value="{{car[0]}}">{{car[1]}} {{car[3]}}</option>
                {% else %}
                <option value="{{car[0]}}">{{car[1]}} {{car[2]}} {{car[3]}}</option>
                {% endif %} {% endfor %}
              </select>
              <div class="col text-center">
                <input type="submit" class="btn btn-primary mt-3" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block script%} {{super()}}
<script>
  carposelect = document.getElementById("carposelect");

  if (carposelect.value == "") {
    carposelect.value = "0";
  }
</script>
{%endblock%}
