html {
  height: 100%;
}

body {
  height: 100%;
  background: url('/static/img/background.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  content: ' ';
  background-position: 50% 0;
}

form {
  height: 100%;
}

.login {
  max-width: 350px;
  box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.5);
  border-radius: 20px;
  background-color: var(--background);
}