{%extends 'user/home.html'%}

{%block head%}
{{super()}}

<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}" />

<link rel="stylesheet" href="{{ url_for('static',filename='css/general.css') }}" />
{%endblock%}

{%block content%}
<div class="row contenedor">
  <div class="col-2"></div>
  <div class="col-md-10">
    <div class="m-4">
      <form class="row p-3 mb-2 fondo" action="{{ url_for('usuario.editar_datospersonales_usuario') }}" method="POST" id="datospersonales">
        <div class="container-fluid">
          <h2 class="mb-4 col text-center">Modificar/Actualizar Datos Personales</h2>
          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" id="cuil" name="cuil" placeholder="xx-xx.xxx.xxx-x" class="form-control form-custom" value="{{datosPersonales[3]}}" required />
              <label for="cuil">Cuil *</label>
            </div>

            <div class="col-md-6">
              <input type="text" id="nacionalidad" name="nacionalidad" placeholder="Ingrese su nacionalidad" class="form-control form-custom" value="{{datosPersonales[6]}}" required />
              <label for="nacionalidad">Nacionalidad *</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" class="form-control form-custom" value="{{datosPersonales[1]}}" required />
              <label for="nombre">Nombre *</label>
            </div>

            <div class="col-md-6">
              <input type="text" id="apellido" name="apellido" placeholder="Escribe tu apellido" class="form-control form-custom" value="{{datosPersonales[2]}}" required />
              <label for="apellido">Apellido *</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="email" id="email" placeholder="nombre@ejemplo.com" class="form-control form-custom" value="{{current_user.usuariocorreo}}" required />
              <label for="email">Email *</label>
            </div>

            <div class="col-md-6">
              <input type="text" id="telefono" name="telefono" placeholder="xxxxxxxxxx" class="form-control form-custom" value="{{datosPersonales[7]}}" required />
              <label class="labelforms" for="telefono">Telefono *</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="date" name="fechanac" id="fechanac" placeholder="xx/xx/xxxx" class="form-control form-custom" value="{{datosPersonales[4]}}" required />
              <label class="labelforms" for="fechanac">Fecha de Nacimiento</label>
            </div>

            <div class="col-md-6">
              <select name="sexodni" id="sexodni" class="form-select form-custom" required>
                {%if datosPersonales[5] == 'Femenino'%}
                <option value="{{datosPersonales[5]}}">{{datosPersonales[5]}}</option>
                <option value="Masculino">Masculino</option>
                {%elif datosPersonales[5] == 'Masculino' %}
                <option value="{{datosPersonales[5]}}">{{datosPersonales[5]}}</option>
                <option value="Femenino">Femenino</option>
                {%else%}
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                {%endif%}
              </select>
              <label for="sexodni">Genero DNI *</label>
            </div>
          </div>

          <div class="col-12 mb-1 text-center">
            <input type="submit" class="btn btn-primary" value="Guardar" />
          </div>
        </div>
      </form>

      <form class="row p-3 mb-2 fondo" action="{{ url_for('usuario.editar_datosdomicilio_usuario') }}" method="POST" id="datosDom">
        <div class="container-fluid">
          <h2 class="mb-4 col text-center">Domicilio de Residencia</h2>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="provincia" id="provincia" placeholder="Provincia" class="form-control form-custom" value="{{datosDomicilio[1]}}" />
              <label class="labelforms" for="provincia">Provincia</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="departamento" id="departamento" placeholder="Departamento" class="form-control form-custom" value="{{datosDomicilio[2]}}" />
              <label class="labelforms" for="departamento">Departamento</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="localidad" id="localidad" placeholder="Localidad" class="form-control form-custom" value="{{datosDomicilio[3]}}" />
              <label class="labelforms" for="localidad">Localidad</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad" class="form-control form-custom" value="{{datosDomicilio[4]}}" />
              <label class="labelforms" for="ciudad">Ciudad</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="barrio" id="barrio" placeholder="Barrio" class="form-control form-custom" value="{{datosDomicilio[5]}}" />
              <label class="labelforms" for="barrio">Barrio</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="calle" id="calle" placeholder="Calle" class="form-control form-custom" value="{{datosDomicilio[6]}}" />
              <label class="labelforms" for="calle">Calle</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="altura" id="altura" placeholder="Altura" class="form-control form-custom" value="{{datosDomicilio[7]}}" />
              <label class="labelforms" for="altura">Altura</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="piso" id="piso" placeholder="Piso" class="form-control form-custom" value="{{datosDomicilio[8]}}" />
              <label class="labelforms" for="piso">Piso</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="numdep" id="numdep" placeholder="Numero del Departamento" class="form-control form-custom" value="{{datosDomicilio[9]}}" />
              <label class="labelforms" for="numdep">Num. Dep.</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="manzana" id="manzana" placeholder="Manzana" class="form-control form-custom" value="{{datosDomicilio[10]}}" />
              <label class="labelforms" for="manzana">Manzana</label>
            </div>
          </div>

          <div class="d-flex justify-content-md-center">
            <div class="col-md-6">
              <input type="text" name="cp" id="cp" placeholder="Código Postal" class="form-control form-custom" value="{{datosDomicilio[11]}}" />
              <label class="labelforms" for="cp">CP</label>
            </div>
          </div>

          <div class="col-12 mb-1 text-center">
            <input type="submit" class="btn btn-primary" value="Guardar" />
          </div>
        </div>
      </form>

      {%if session['perfilid'] == 7%}
      <form class="row p-3 mb-2 fondo" action="{{ url_for('alumno.editar_datosdomicilioproc_alumno') }}" method="POST" id="datosDomP">
        <div class="container-fluid">
          <h2 class="mb-4 col text-center">Domicilio de Procedencia</h2>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="provincia" id="provincia" placeholder="Provincia" class="form-control form-custom" value="{{datosDomicilioProc[1]}}" />
              <label class="labelforms" for="provincia">Provincia</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="departamento" id="departamento" placeholder="Departamento" class="form-control form-custom" value="{{datosDomicilioProc[2]}}" />
              <label class="labelforms" for="departamento">Departamento</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="localidad" id="localidad" placeholder="Localidad" class="form-control form-custom" value="{{datosDomicilioProc[3]}}" />
              <label class="labelforms" for="localidad">Localidad</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad" class="form-control form-custom" value="{{datosDomicilioProc[4]}}" />
              <label class="labelforms" for="ciudad">Ciudad</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="barrio" id="barrio" placeholder="Barrio" class="form-control form-custom" value="{{datosDomicilioProc[5]}}" />
              <label class="labelforms" for="barrio">Barrio</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="calle" id="calle" placeholder="UsuarioCalle" class="form-control form-custom" value="{{datosDomicilioProc[6]}}" />
              <label class="labelforms" for="calle">UsuarioCalle</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="altura" id="altura" placeholder="Altura" class="form-control form-custom" value="{{datosDomicilioProc[7]}}" />
              <label class="labelforms" for="altura">Altura</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="piso" id="piso" placeholder="Piso" class="form-control form-custom" value="{{datosDomicilioProc[8]}}" />
              <label class="labelforms" for="piso">Piso</label>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" name="numdep" id="numdep" placeholder="Numero del Departamento" class="form-control form-custom" value="{{datosDomicilioProc[9]}}" />
              <label class="labelforms" for="numdep">Num. Dep.</label>
            </div>
            <div class="col-md-6">
              <input type="text" name="manzana" id="manzana" placeholder="Manzana" class="form-control form-custom" value="{{datosDomicilioProc[10]}}" />
              <label class="labelforms" for="manzana">Manzana</label>
            </div>
          </div>

          <div class="d-flex justify-content-md-center">
            <div class="col-md-6 col-12">
              <input type="text" name="cp" id="cp" placeholder="Código Postal" class="form-control form-custom" value="{{datosDomicilioProc[11]}}" />
              <label class="labelforms" for="cp">CP</label>
            </div>
          </div>

          <div class="col-12 mb-1 text-center">
            <input type="submit" class="btn btn-primary" value="Guardar" />
          </div>
        </div>
      </form>
      {%endif%}
    </div>
  </div>
</div>
{%endblock%}

{%block script%}
{{super()}}
<script>
  let formDP = document.getElementById("datospersonales");

  var elements = formDP.elements;

  for (var i = 0, element; (element = elements[i++]); ) {
    if (element.value === "None") {
      element.value = "";
    }
  }

  let formDD = document.getElementById("datosDom");

  var elements = formDD.elements;

  for (var i = 0, element; (element = elements[i++]); ) {
    if (element.value === "None") {
      element.value = "";
    }
  }

  let fromDDP = document.getElementById("datosDomP");

  var elements = fromDDP.elements;

  for (var i = 0, element; (element = elements[i++]); ) {
    if (element.value === "None") {
      element.value = "";
    }
  }
</script>
{%endblock%}
